*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}


body
{
 min-height: 100vh;
 background: linear-gradient(#67aef9, #fff);
 font-family: "Lucida Console", "Courier New", monospace;
 overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

header
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 padding: 30px 100px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 10000;
 overflow: hidden;
}

header .logo
{
 color: #fff;
 font-weight: 700;
 text-decoration: none;
 font-size: 2em;
 text-transform: uppercase;
 letter-spacing: 2px;
}

header .ul
{
 display: flex;
 justify-content: center;
 align-items: center;
}

header .ul .li
{
 list-style: none;
 margin-left: 20px;
}

header .ul .li a
{
 text-decoration: none;
 padding: 6px 15px;
 color: #fff;
 border-radius: 20px;
}

header .ul .li a:hover,
header .ul .li a.active
{
 color: #fff;
}


.cover-container {
 max-width: 42em;
}

.nav-masthead .nav-link {
 padding: .25rem 0;
 font-weight: 700;
 color: rgba(255, 255, 255, .5);
 background-color: transparent;
 border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 color: #fff;
 border-bottom-color: #fff;
 }

 .nav-masthead .nav-link + .nav-link {
 margin-left: 1rem;
}

.nav-masthead .active {
 color: #fff;
 border-bottom-color: #fff;
}

section
{
 position: relative;
 width: 100%;
 height: 100vh;
 padding: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

section::before
{
 content:'';
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 100px;
 background: linear-gradient(to top, #6b4f38, transparent);
 z-index: 1000;
}

section img
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 pointer-events: none;
}

section img#moon
{
 mix-blend-mode: screen;
}

section img#mountains_front
{
 z-index: 10;
}

#text
{
 position: absolute;
 color: #fff;
 white-space: nowrap;
 font-size: 5vw;
 z-index: 9;
}

/* projects button */
.btn.btn-outline-brown{
     border: solid 1px #312C28;
     border-radius: 1em;
     color: #312C28 !important;
}

.btn-outline-brown:hover,
.btn-outline-brown:focus,
.btn-outline-brown:active,
.btn-outline-brown.active,
.open .dropdown-toggle.btn-outline-brown {
  color: #312C28 !important;
  background-color:  #7c6f62;
  border-radius: 1em;
  box-shadow: 4px 4px 0px #312C28;
}

/* footer button */
.btn.btn-outline-browne{
     border: solid 1px #dab271;
     border-radius: 1em;
     color: #312C28 !important;
}

.btn-outline-browne:hover,
.btn-outline-browne:focus,
.btn-outline-browne:active,
.btn-outline-browne.active,
.open .dropdown-toggle.btn-outline-browne {
  background-color: #f2c67d;
  color: #312C28 !important;
  border-color: #f2c67d;
  border-radius: 1em;
  box-shadow: 4px 4px 0px #dab271;
}
/* end footer button */

#btn
{
 text-decoration: none;
 display: inline-block;
 border-radius: 40px;
 padding: 8px 30px;
 background: #fff;
 color: #4B8CA8;
 font-size: 1.4em;
 z-index: 9;
 transform: translateY(100px);
}

.sec
{
 position: relative;
 padding: 5vw;
 background: #6b4f38;
}


.sec h2
{
 font-size: 3.5em;
 margin-bottom: 10px;
 color: #fff;
}

.sec p
{
 font-size: calc(0.9rem + .6vw);
 color: #fff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

#r2 {
     width: 40%;
}

#enok {
     width:  30%;
}

#lls{
     margin-left: auto;
     margin-right: auto;
     border-radius: 2em;
     width: 95%;
     box-shadow: 18px 18px 0px #5585b5;

}

.componentWraper {
  margin: 40px;
  position: relative;
  border-radius: 2em;
  background:  #7c6f64;
  padding: 20px;
  box-shadow: 18px 18px 0px #312C28;
}

.componentTitle {
 color: #fff;
 text-align: center;
 background: #312C28;
 border-radius: 2em;
 font-size: calc(1.4rem + .6vw)
}

.badge.autofont {
     font-size: calc(1rem + .1vw);
}

.componentWraper .componentTitle {
  position: absolute;
  top: -15px;
  padding: 0 1em;
}

#abm {
     font-size: calc(0.9rem + .6vw)
}

.bg-brown
{
     background: #312C28;
}



#sndfl{
     margin-top: 1em;
     margin-left: auto;
     margin-right: auto;
     border-radius: 4em;
     width: 95%;
     box-shadow: 18px 18px 0px #7c6f64;
}


.aboutme
{
     display: block;
     background: #f2c67d;
     border-radius:  7em;
     box-shadow: 18px 18px 0px #dab271 /*, -18px -18px 0px #ffda8a*/;
}

#yoda
{
     width: 70%;
}

#pr
{
     text-align: center;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #f2c67d;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: #6b4f38;
}

#bgb
{
     background: #6b4f38;
}

footer a {
text-decoration: none;

}
